<html>
    <head>
        <title>Clipboard And File Server: Clipboard View</title>
    </head>
    <body>
        <h3>Clipboard Contents</h3>
        <%= content %>
        <br>
        <a href="/">Return</a>
    </body>
</html>